* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(180deg, #00f451 0%, #3c8bbf 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

.bg {
  background-color: red;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: .30rem;
  font-size: 2.5rem;
  border: none;
}


button:hover {
  background-color: #47ff69;
  color: white;
  /* transform: translateY(-.2rem) rotateZ(180deg); */
  opacity: 1;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px !important;
}
.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 1rem auto;
  background: white;
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease-in-out;
  text-align: center;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(11, 212, 162);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0.2;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}

/* Transition */
/* 
.select:hover::after {
  transform:scale(1.5rem);
} */


.bt {
  display: inline-block;

  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 0;
  padding: 0;
}

.bt:focus {
  outline-color: transparent;
}

button {
  border: none;
  /* margin-top: 10px; */
  overflow: hidden;
}


/* btn-blow */
.btn-blow::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  opacity: .5;
  z-index: -4;
  transition-duration: .4s;
  pointer-events: none;
}

.btn-blow:focus::after {
  opacity: 1;
  transform: scale(1.2);
}

.btn-blow:focus:hover::after {
  transform: scale(1.2);
}

.btn-blow {
  width: 50px;
  height: 50px;
}

.btn-blow * {
  pointer-events: none;

}

.btn-blow {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 5px;
  /* left: 50px; */
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border-radius: 0;

  transition: transform .5s, border-radius .5s;
  font-family: 'Coiny', cursive;
  transition-timing-function: cubic-bezier(.15, 21.4, .7, 2.5);
}

.btn-blow::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: hotpink;
  background-image: radial-gradient(circle, #69ff91 0%, #3ae248 30%, #e23a8e 100%);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  z-index: -1;
  transition: all .4s;

}

.btn-blow:hover {
  transform: scale(1.4);
  transition: transform 1.8s, border-radius 11.4s;
}

.btn-blow:hover ::before {
  transition: background-size 1.8s, border-radius 1.4s;
  background-size: 120% 120%;
}