table{
    margin: 0 auto;
    font-size: 50px;
    border: 1px solid #000;
}
tr td{
    border: 1px solid #000;
    padding: 10px;
    border-collapse:separate;
    border-radius: 25%;
    border-style:ridge;
}
.col1{
    
}
